<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>轻松搭建量化交易系统</title>
    <link rel="stylesheet" type="text/css" href="/static/content/main.css" />
</head>
<body>
    <div class="body-main-area">
        <h1>轻松搭建量化交易系统</h1>
        <font color="#FF0000"><b>入场规则</b><br></font>当向上突破
        <input class="input-bottom-line" type="text" name="name" size="3"
                oninput="value=value.replace(/[^\d]/g,'')">
        日最高价时，入场做多；<br>当向下突破
        <input class="input-bottom-line" type="text" name="name" size="3"
               oninput="value=value.replace(/[^\d]/g,'')">
        日最低价时，入场做空。
    </div>
</body>
</html>