body,
.body-main-area
{
    text-align: center;
}

.input-bottom-line {
    border-color: #878787;
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    text-align: center;
    color: steelblue;
    font-weight: bold;
}

.trading-rules-title {
    color: #EE1111;
    font-weight: bold;
}